modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["git"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 8081
externalPort = 80

[workflows]
runButton = "Run Application"

[[workflows.workflow]]
name = "Start Application"
mode = "sequential"
author = 33980514

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npx ts-node src/server.ts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npx vite dev --host 0.0.0.0 --port 3000"

[[workflows.workflow]]
name = "Run Application"
author = 33980514
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev -- --host 0.0.0.0 --port 3000"
